@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  min-height: 100vh;
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

p {
  line-height: 150%;
  font-size: clamp(1rem, 0.7917rem + 0.8889vw, 1.125rem);
}

.wrap {
  min-width: 13.75rem;
}

main {
  padding: 2rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.logo_box {
  margin-block-end: 3rem;
}
.logo_box img {
  width: 35%;
  min-width: 5.625rem;
  max-width: max-content;
  margin: 0 auto;
}

h1 {
  font-weight: 600;
  text-align: center;
  color: hsl(210, 10%, 33%);
  font-size: clamp(1.875rem, 1.2rem + 2.88vw, 3rem);
  margin-block-end: 1rem;
}

header {
  padding: 5rem 0;
  margin-block-end: 5rem;
}

header p {
  color: hsl(201, 11%, 66%);
  text-align: center;
  font-weight: 400;
  margin-block-end: 3rem;
}

.dowload_button button {
  border: none;
  font-size: 1.125rem;
  display: block;
  color: hsl(0, 0%, 100%);
  width: 100%;
  border-radius: 2rem;
  padding: 0.875rem 0;
  font-weight: 500;
  border-bottom: 0.25rem solid;
}
.dowload_button button:nth-child(1) {
  background-color: hsl(171, 66%, 44%);
  border-color: hsl(171, 66%, 30%);
  box-shadow: 0 0.5rem 1rem hsla(171, 66%, 44%, 0.5);
  margin-block-end: 1.5rem;
}
.dowload_button button:nth-child(2) {
  background-color: hsl(233, 100%, 69%);
  border-color: hsl(233, 50%, 50%);
  box-shadow: 0 0.5rem 1rem hsla(233, 100%, 69%, 0.5);
}
.dowload_button button:hover {
  opacity: 0.8;
  box-shadow: 0.5rem 0.5rem 1rem hsl(0, 0%, 0%);
  cursor: pointer;
}

.snippets_box h2,
.clipboard_box h2,
.supercharge_box h2,
.download-clipboard_box h2 {
  font-size: clamp(1.75rem, 1.45rem + 1.28vw, 2.25rem);
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  text-align: center;
}
.snippets_box p,
.clipboard_box p,
.supercharge_box p,
.download-clipboard_box p {
  text-align: center;
  color: hsl(201, 11%, 66%);
}

.snippets_box {
  margin-block-end: 4.375rem;
}
.snippets_box h2 {
  margin-block-end: 1rem;
}

.computer_box {
  margin-block-end: 11.25rem;
}
.computer_box figure {
  margin: 4rem 0;
}
.computer_box figure img {
  margin: 0 auto;
  max-width: 31.25rem;
}

.functions-1_box article {
  margin-block-end: 3rem;
}
.functions-1_box h2 {
  margin-block-end: 0.625rem;
}

.functions-1_box article h2,
.functions-2_box section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  text-align: center;
}
.functions-1_box article p,
.functions-2_box section p {
  text-align: center;
  color: hsl(201, 11%, 66%);
}

.clipboard_box {
  margin-block-end: 3.5rem;
}
.clipboard_box h2 {
  margin-block-end: 1rem;
}

.devices_box {
  margin-block-end: 5.5rem;
}
.devices_box img {
  max-width: 31.25rem;
  margin: 0 auto;
}

.supercharge_box {
  margin-block-end: 5rem;
}
.supercharge_box h2 {
  margin-block-end: 0.625rem;
}

.functions-2_box {
  margin-block-end: 8rem;
}
.functions-2_box section {
  margin-block-end: 3rem;
}
.functions-2_box img {
  width: max-content;
  margin: 0 auto;
}
.functions-2_box figure {
  margin-block-end: 2.5rem;
}
.functions-2_box h2 {
  margin-block-end: 1rem;
}

.company-logo_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-block-end: 10rem;
}
.company-logo_box img {
  width: max-content;
}

.download-clipboard_box {
  margin-block-end: 7rem;
}
.download-clipboard_box h2 {
  margin-block-end: 1rem;
}
.download-clipboard_box p {
  margin-block-end: 3rem;
}

footer {
  position: relative;
  background-color: hsl(201, 11%, 95%);
  padding: 3rem;
}

.footer-logo_box img {
  width: 3.5rem;
  margin: 0 auto;
}

.footer-link_box {
  margin-block-start: 2.5rem;
  margin-block-end: 1.25rem;
  display: flex;
  flex-direction: column;
}
.footer-link_box a {
  width: fit-content;
  display: block;
  margin: 0 auto;
  margin-block-end: 1.75rem;
  color: hsl(210, 10%, 33%);
  font-weight: 500;
}
.footer-link_box a:hover {
  text-decoration: underline;
}

.social-icons_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}
.social-icons_box img {
  width: max-content;
}
.social-icons_box img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.attribution {
  width: fit-content;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
}
.attribution a {
  color: rgb(0, 94, 255);
}

@media (min-width: 37.5rem) {
  main {
    padding: 6rem;
  }
  body {
    background-image: url("../images/bg-header-desktop.png");
  }
  .dowload_button button {
    margin: 0 auto;
    width: fit-content;
    padding: 0.875rem 6rem;
  }
  .download-clipboard_box {
    margin-block-end: 2rem;
  }
  footer {
    padding: 3rem 5rem;
  }
  .footer-and-paragrph {
    display: flex;
    align-items: center;
    max-width: 43.75rem;
    margin: 0 auto;
    margin-block-end: 1.5rem;
  }
  .footer-link_box {
    flex: 1;
    flex-direction: row;
    margin: 0;
    justify-content: space-evenly;
  }
  .footer-link_box a {
    margin: 0;
    padding: 0.5rem 0;
    text-align: start;
  }
  .social-icons_box {
    justify-content: end;
  }
}
@media (min-width: 68.75rem) {
  p {
    width: 55ch;
    margin-inline: auto;
  }
  .dowload_button {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .dowload_button button:nth-child(1),
  .dowload_button button:nth-child(2) {
    margin: 0;
    padding: 0.875rem 3rem;
  }
  .computer_box {
    display: grid;
    grid-template-columns: 1fr 31.25rem;
    align-items: center;
    max-width: 87.5rem;
  }
  .computer_box figure {
    margin-inline-end: 2rem;
    margin-block-end: 0;
    max-width: fit-content;
  }
  .computer_box figure img {
    margin: 0;
    max-width: max-content;
    transform: translateX(-6rem);
  }
  .computer_box p {
    width: 80%;
    margin: 0;
  }
  .functions-1_box article {
    margin-block-end: 2rem;
  }
  .functions-1_box article h2, .functions-1_box article p {
    text-align: start;
  }
  .devices_box img {
    max-width: max-content;
  }
  .functions-2_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    max-width: 87.5rem;
  }
  .functions-2_box section {
    margin-block-end: 0;
  }
  .functions-2_box section p {
    width: 100%;
  }
  .company-logo_box {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    max-width: 87.5rem;
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
  }
  .footer-and-paragrph {
    margin: 0;
    flex: 1;
  }
}
@media (min-width: 93.75rem) {
  .computer_box,
  .functions-2_box,
  .company-logo_box {
    margin-inline: auto;
  }
  footer {
    padding: 3rem 18rem;
  }
  .footer-link_box {
    justify-content: center;
    gap: 3rem;
  }
  .footer-link_box a {
    display: inline-block;
  }
  .footer-link_box div a:nth-child(1) {
    margin-inline-end: 3rem;
  }
  .footer-and-paragrph {
    max-width: 50rem;
  }
}