@use 'functions' as *;
@use 'variables' as *;

.logo_box {
    margin-block-end: 3rem;

    img {
        width: 35%;
        min-width: rem(90);
        max-width: max-content;
        margin: 0 auto;
    }
}

h1 {
    font-weight: $w600;
    text-align: center;
    color: $gray;
    font-size: clamp($header-fs, 1.2rem + 2.88vw, 3rem);
    margin-block-end: 1rem;
}

header {
    padding: 5rem 0;
    margin-block-end: 5rem;
}

header p {
    color: $light-gray;
    text-align: center;
    font-weight: $w400;
    margin-block-end: 3rem;
}

.dowload_button {
    button {
        border: none;
        font-size: $large-fs;
        display: block;
        color: $white;
        width: 100%;
        border-radius: 2rem;
        padding: rem(14) 0;
        font-weight: $w500;
        border-bottom: rem(4) solid;
    }

    button:nth-child(1) {
        background-color: $green;
        border-color: $dark-green;
        box-shadow: 0 rem(8) 1rem $light-green-shadow;
        margin-block-end: rem(24);
    }

    button:nth-child(2) {
        background-color: $blue;
        border-color: $dark-blue;
        box-shadow: 0 rem(8) 1rem $light-blue-shadow;
    }

    button:hover {
        opacity: 0.8;
        box-shadow: rem(8) rem(8) 1rem $black;
        cursor: pointer;
    }
}