@use 'variables' as *;
@use 'functions' as *;

.snippets_box,
.clipboard_box,
.supercharge_box,
.download-clipboard_box {
    h2 {
        font-size: clamp($sub-head-fs, 1.45rem + 1.28vw, 2.25rem);
        font-weight: $w600;
        color: $gray;
        text-align: center;
    }

    p {
        text-align: center;
        color: $light-gray;
    }
}

.snippets_box {
    margin-block-end: rem(70);

    h2 {
        margin-block-end: 1rem;
    }
}

.computer_box {
    margin-block-end: rem(180);

    figure {
        margin: 4rem 0;
        img {
            margin: 0 auto;
            max-width: rem(500);
        }
    }
}

.functions-1_box {
    article {
        margin-block-end: 3rem;
    }

    h2 {
        margin-block-end: rem(10);
    }
}

.functions-1_box article,
.functions-2_box section {
    h2 {
        font-size: $sub-head-small-fs;
        font-weight: $w600;
        color: $gray;
        text-align: center;
    }
    
    p {
        text-align: center;
        color: $light-gray
    }
}

.clipboard_box {
    margin-block-end: rem(56);

    h2 {
        margin-block-end: 1rem;
    }
}


.devices_box {
    margin-block-end: rem(88);

    img {
        max-width: rem(500);
        margin: 0 auto;
    }
}

.supercharge_box {
    margin-block-end: 5rem;

    h2 {
        margin-block-end: rem(10);
    }
}

.functions-2_box {
    margin-block-end: 8rem;

    section {
        margin-block-end: 3rem;
    }

    img {
        width: max-content;
        margin: 0 auto;
    }

    figure {
        margin-block-end: rem(40);
    }

    h2 {
        margin-block-end: 1rem;
    }
}

.company-logo_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-block-end: 10rem;
    
    img {
        width: max-content;
    }
}

.download-clipboard_box {
    margin-block-end: 7rem;

    h2 {
        margin-block-end: 1rem;
    }

    p {
        margin-block-end: 3rem;
    }
}