* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    min-height: 100vh;
    background-image: url('../images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.wrap {
    border: 1px solid black;
}