@use 'functions' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    min-height: 100vh;
    background-image: url('../images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

p {
    line-height: 150%;
}

.wrap {
    min-width: rem(220);
}

main {
    padding: 2rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}